html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    background-color:  #FAFAF9;
    
}

.all {
    @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 5rem;
    align-items: center;
    justify-content: center;
    margin-top: 20rem;
    margin-left: 8rem;

    }
}

.all {
    @media (max-width: 768px) {
        margin-top: 20rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

.cards {

    @media (max-width: 768px) {
        margin-top: 10rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}



ul {
    list-style-type: none;
    padding: 0;
    font-size: 14px;
    font-family: 'Space Mono', monospace;
    color: #52525A;
    

    
  }

  li {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .titulo {
    font-family: 'Space Mono', monospace;
    font-size:36px;
    font-weight: 600;
  }

  .text-left {
    font-family: 'Space Mono', monospace;
    font-size:20px;
  
    color: #52525A;
  }

  .img-google-card {
    display: flex;
    align-items: center;
    gap: 2rem;
    
  }

.google{
    width: 105px;
height: 35px;
flex-shrink: 0;
}


.img-meta-card {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

.meta{
    width: 105px;
height: 35px;
flex-shrink: 0;
}

.cards {
    width: 500px;
}

.google-card {
    width: 350px;
    height: 180px;
    margin-left: auto;
    margin-bottom: 4rem;
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
}

.meta-card {
    width: 350px;
    height: 180px;
    padding: 2rem;
    margin-bottom: 4rem;
    background-color: white;
    border-radius: 1rem;
}

h4 {
    font-family: 'Space Mono', monospace;
    font-size:16px;
    
}

.texto1 {
    font-family: 'Space Mono', monospace;
    font-size:14px;
    color: #696968;
}


  